body  {
	margin-top: 20px;
	text-align: center;
}
#av1 {
    border-radius: 80px;
    border:solid 10px #3366cc;
    margin: auto;
    padding:10px;
}
#av2 {
    border-radius: 80px;
    border:solid 10px #cc3333;
    margin: auto;
    padding:10px;
}

#av3 {
    border-radius: 80px;
    border:solid 10px #66cc66;
    margin: auto;
    padding:10px;
}
#av4 {
    border-radius: 80px;
    border:solid 10px #cccc33;
    margin: auto;
    padding:10px;
}
.avatar {
	width:100px;
	height:100px;
	opacity: 0.5;
	transition: 0.4s ease;
	cursor: pointer;
}
.avatar:hover {
	transform: scale(1.5, 1.5);
	opacity: 1;
}
.avatar2 {
	width:200px;
	height:200px;
}
.gameAv {
	width: 200px;
	height:200px;
	position:relative;
	margin: auto;	
}
.choice {
	line-height: 30px;
	letter-spacing: 80px;
}
.points div {
	padding: 30px;
	display: inline-block;
}
.points div h4 {
	line-height: 5px;
}
.points div h5 {
	line-height: 10px;
	color: green;
}
.choice button {
	height: 80px;
}
button h5 {
	margin: 5px;
	line-height: 20px;
}
